body {
  background-color: #1f2028;
}

.box1 {
  height: 110%;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box2 {
  height: 110%;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  width: 100px;
}

.nav-item {
  text-align: center;
  -webkit-transition: 2s;
  transition: 2s;
}

.nav-item:hover {
  border-bottom: 1px solid #fff;
}

.sub-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 90%;
}

.sub-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 90%;
}

.sub-box1 h1 {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

.sub-box1 i {
  color: #fff;
}

.sub-box1 .git_link {
  text-decoration: none;
  margin-left: 5px;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.sub-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 90%;
}

.prf_img {
  width: 360px;
}

.about-img {
  width: 70%;
  height: 90%;
}

.about_img1 {
  width: 270px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  margin-top: 45px;
  margin-left: 200px;
}

.about_img2 {
  width: 270px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.about_img3 {
  width: 270px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  margin-top: -200px;
  margin-left: 70px;
}

.about_img4 {
  width: 270px;
  margin-top: 10px;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.details {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
  font-family: 'Quicksand', sans-serif;
  margin-left: 5%;
  color: #a5a3a3;
}

.bar {
  position: relative;
  border: 2px solid #0e0e0e;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 20px;
}

.bar div {
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #0e0e0e;
}

.skills {
  width: 100%;
}

.skills:not(:last-child) {
  margin-bottom: 30px;
  width: 100%;
}

#html-bar {
  -webkit-animation: html-fill 2s forwards;
          animation: html-fill 2s forwards;
}

@-webkit-keyframes html-fill {
  100% {
    width: 90%;
  }
}

@keyframes html-fill {
  100% {
    width: 90%;
  }
}

#css-bar {
  -webkit-animation: css-fill 2s forwards;
          animation: css-fill 2s forwards;
}

@-webkit-keyframes css-fill {
  100% {
    width: 75%;
  }
}

@keyframes css-fill {
  100% {
    width: 75%;
  }
}

#js-bar {
  -webkit-animation: js-fill 2s forwards;
          animation: js-fill 2s forwards;
}

@-webkit-keyframes js-fill {
  100% {
    width: 50%;
  }
}

@keyframes js-fill {
  100% {
    width: 50%;
  }
}

#bootstrap-bar {
  -webkit-animation: bootstrap-fill 2s forwards;
          animation: bootstrap-fill 2s forwards;
}

@-webkit-keyframes bootstrap-fill {
  100% {
    width: 68%;
  }
}

@keyframes bootstrap-fill {
  100% {
    width: 68%;
  }
}

#python-bar {
  -webkit-animation: jQuery-fill 2s forwards;
          animation: jQuery-fill 2s forwards;
}

@-webkit-keyframes jQuery-fill {
  100% {
    width: 50%;
  }
}

@keyframes jQuery-fill {
  100% {
    width: 50%;
  }
}

.resume_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 0px;
}

.resume_img img {
  margin-top: 0px;
  margin-left: 0px;
  width: 300px;
  height: 100%;
  border-radius: 10px;
}

.resume_img a {
  text-align: center;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.resume_img a:hover {
  scale: 1.1;
  opacity: 1;
}

.resume_img a .download {
  position: absolute;
  margin-top: 150px;
  text-decoration: none;
  color: #a5a3a3;
  width: 120px;
  height: 40px;
  background-color: #0e0e0e;
  border-radius: 20px;
  padding-top: 5px;
  opacity: 1;
}

/* Education section style */
.zigzag-timeline__item:nth-child(2n+1) {
  border-right: 2px solid #afafaf;
  border-bottom-right-radius: 10px;
  position: relative;
  border-bottom: 2px solid #afafaf;
  width: 100%;
  padding: 5%;
  border-radius: 0;
  border-bottom-right-radius: 10px;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.container__circle-odd {
  margin-left: 105%;
  margin-top: 5%;
  margin-bottom: -10%;
  font-weight: 800;
  color: white;
  background-color: #3d3d3d;
  border-radius: 50px;
  height: 32px;
  width: 32px;
  padding-top: 4px;
  text-align: center !important;
}

.container__circle-even {
  float: left;
  margin-left: -15%;
  margin-top: 5%;
  margin-bottom: -10%;
  font-weight: 800;
  color: white;
  background-color: #3d3d3d;
  border-radius: 50px;
  height: 32px;
  width: 32px;
  padding-top: 4px;
  text-align: center !important;
}

.zigzag-timeline__milestone {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.zigzag-timeline__milestone h2 {
  font-size: 18px;
  font-weight: 700;
  color: #b1afaf;
}

.zigzag-timeline__item p {
  font-size: 16px;
  font-weight: 500;
  color: #7a7a7a;
  margin-top: 5px;
  margin-bottom: 0rem;
}

.zigzag-timeline__item h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #9a99a3;
}

.zigzag-timeline__item:nth-child(2n) {
  border-left: 2px solid #afafaf;
  border-bottom-left-radius: 10px;
  position: relative;
  border-bottom: 2px solid #afafaf;
  width: 100%;
  padding: 5%;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex ul {
  list-style-type: none;
  width: 90%;
  margin-top: 30px;
  padding-left: 0rem;
  margin: 10px;
}

.flex ul li {
  outline: 1px solid rgba(255, 255, 255, 0.26);
  outline-offset: 2px;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.flex ul li:hover {
  color: #a5a3a3;
  outline: 1px solid rgba(121, 121, 121, 0.26);
  scale: 1.1;
}

.flex ul a {
  text-decoration: none;
  color: #a5a3a3;
}

.flex ul .project_heading {
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.flex ul .project_description {
  margin-left: 10px;
  font-family: 'Quicksand', sans-serif;
}

.form-inline {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-inline .contact_button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  padding: 5px;
  border: none;
  background-color: #0d0d0f;
  border-radius: 20px;
  color: #a5a3a3;
  font-family: 'Quicksand', sans-serif;
  margin-left: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.form-inline .contact_button:hover {
  scale: 0.9;
  background-color: #cccbcb;
  color: #3e3e3e;
  -webkit-box-shadow: 1px 1px 6px #5b5c5e;
          box-shadow: 1px 1px 6px #5b5c5e;
}

.form_ {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form_ .form-text {
  width: 100%;
  height: 40px;
  border: none;
  margin-bottom: 5px;
  color: #2e2d2d;
  padding-left: 5px;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
}

.form_ .form-text-area {
  width: 100%;
  margin-top: 6px;
  border: none;
  color: #2e2d2d;
  padding-left: 5px;
  opacity: 0.5;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
}

.conatct_list {
  width: 80%;
  height: 85%;
  background-color: rgba(19, 19, 24, 0.8);
  opacity: 0.5;
  border-radius: 10px;
  padding-top: 1px;
}

.conatct_list ul {
  list-style-type: none;
}

.conatct_list li {
  color: #a5a3a3;
  font-size: 20px;
  margin-top: 30px;
}

.conatct_list li a {
  text-decoration: none;
  color: #a5a3a3;
}

.conatct_list li a:hover {
  color: #fff;
}

.conatct_list li i {
  margin-right: 10px;
}

.conatct_list li:hover {
  color: #fff;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #0d0d0f;
  margin-top: 10%;
}

.footer ul {
  padding-top: 20px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer ul li {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #3d3b3b;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.footer ul li:hover {
  scale: 1.3;
}

.footer ul li:hover .github {
  color: #171515;
}

.footer ul li:hover .linkedin {
  color: #171515;
}

.footer ul li:hover .twitter {
  color: #171515;
}

.footer ul li:hover .youtube {
  color: #171515;
}

.footer ul li:hover .instagram {
  color: #171515;
}

.footer ul li i {
  font-size: 20px;
  color: #fff;
}

.footer ul li span {
  display: none;
  margin-left: 5px;
}

.footer ul li a {
  text-decoration: none;
  color: #a5a3a3;
}

.copyrights {
  color: rgba(177, 173, 173, 0.2);
  text-align: center;
}

@media only screen and (max-width: 1199px) {
  .box1 {
    width: 100%;
    height: 100%;
  }
  .box2 {
    width: 100%;
    height: 100%;
  }
  .prf_img {
    width: 320px;
  }
  .sub-box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    height: 90%;
  }
  .about_img1 {
    width: 240px;
  }
  .about_img2 {
    width: 240px;
  }
  .about_img3 {
    width: 240px;
  }
  .about_img4 {
    width: 240px;
  }
  .conatct_list {
    width: 90%;
    height: 95%;
  }
}

@media only screen and (max-width: 991px) {
  .box1 {
    width: 100%;
    height: 100%;
  }
  .box2 {
    width: 100%;
    height: 100%;
  }
  .sub-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    height: 90%;
  }
  .sub-box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    height: 90%;
  }
  .form_ .form-text {
    width: 80%;
  }
  .form_ .form-text-area {
    width: 80%;
  }
  .form-inline {
    width: 100%;
    height: 100%;
  }
  .form-inline .contact_button {
    margin-left: 10%;
  }
  .conatct_list {
    width: 80%;
  }
  .footer ul li {
    margin-left: 20px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .box1 {
    width: 100%;
    height: 100%;
  }
  .box2 {
    width: 100%;
    height: 100%;
  }
  .prf_img {
    width: 300px;
  }
  .about-img {
    width: 100%;
    height: 90%;
  }
}

@media only screen and (max-width: 514px) {
  .about_img1 {
    width: 220px;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    margin-top: 45px;
    margin-left: 35%;
  }
  .about_img2 {
    width: 220px;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .about_img3 {
    width: 220px;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    margin-top: -200px;
    margin-left: 70px;
  }
  .about_img4 {
    width: 220px;
    margin-top: 10px;
    border-radius: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .conatct_list {
    width: 100%;
  }
  .form_ .form-text {
    width: 100%;
  }
  .form_ .form-text-area {
    width: 100%;
  }
  .form-inline .contact_button {
    margin-left: 0%;
  }
}
/*# sourceMappingURL=style.css.map */
